/node_modules
/vendor
/.git
/.env
/storage/*.key
/.phpunit.result.cache
/docker
/client
Dockerfile
docker-compose.yml
.dockerignore
README.md
README.pdf
schema.sql
phpunit.xml
.editorconfig
.gitattributes
.gitignore
package-lock.json
package.json
vite.config.js